@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bu projede çalışanlar sayfası üzerinden CRUD işlemleri asp.net core mvc yapısı ile uygulanmıştır.</h1>
    
</div>
